h1, p {
    color: #fff;
    position: relative;
    align-content: center;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
  }